In [198]:
# Importing packages
import pandas as pd
import numpy as np
from glob import glob
import random

In [199]:
# Writting files into different data frames
files = glob("elasso*.csv")
files.sort()

In [200]:
files

['elasso2001.csv',
 'elasso2002.csv',
 'elasso2003.csv',
 'elasso2004.csv',
 'elasso2005.csv',
 'elasso2006.csv',
 'elasso2007.csv',
 'elasso2008.csv',
 'elasso2009.csv',
 'elasso2010.csv']

'elasso2004.csv'

In [201]:
dataframes = [pd.read_csv(f) for f in files]

In [202]:
dataframes[3][DATE == 20040923]

NameError: name 'DATE' is not defined

In [221]:
for df in dataframes:
    df['LOGP'] = np.log(df['iprice'])
    #f['Price'] = df['iprice']
    df['RETURN'] = df.groupby('SYMBOL')['LOGP'].diff(1)
    df['RETURN'] = df['RETURN']*100 #Here we change it to percentage return we may not need it if we take log of realized variance

In [222]:
df = dataframes[3]

In [223]:
df[df['DATE'] == 20040923]

,SYMBOL,DATE,itime,rtime,iprice,LOGP,RETURN,Price
5065,AA,20040923,9:30:00,16:25:38,31.2000,3.440418,0.353187,31.2000
5066,AA,20040923,9:45:00,9:44:53,31.1000,3.437208,-0.321028,31.1000
5067,AA,20040923,10:00:00,9:59:49,31.1000,3.437208,0.000000,31.1000
5068,AA,20040923,10:15:00,10:14:40,31.0500,3.435599,-0.160901,31.0500
5069,AA,20040923,10:30:00,10:29:59,31.0000,3.433987,-0.161160,31.0000
5070,AA,20040923,10:45:00,10:44:57,30.8500,3.429137,-0.485045,30.8500
5071,AA,20040923,11:00:00,10:59:58,30.9100,3.431080,0.194301,30.9100
5072,AA,20040923,11:15:00,11:14:58,30.9100,3.431080,0.000000,30.9100
5073,AA,20040923,11:30:00,11:29:43,30.9700,3.433019,0.193924,30.9700
5074,AA,20040923,11:45:00,11:44:29,31.0900,3.436886,0.386723,31.0900
5075,AA,20040923,12:00:00,11:59:58,31.0800,3.436565,-0.032170,31.0800
5076,AA,20040923,12:15:00,12:14:48,31.0500,3.435599,-0.096572,31.0500
5077,AA,20040923,12:30:00,12:29:46,31.0500,3.435599,0.000000,31.0500
5078,AA,20040923,12:45:00,12:44:57,31.1000,3.437208,0.160901,31.1000
5079,AA,20040923,13:00:00,12:59:56,31.1500,3.438814,0.160643,31.1500
5080,AA,20040923,13:15:00,13:14:46,31.1200,3.437851,-0.096355,31.1200
5081,AA,20040923,13:30:00,13:29:50,31.1400,3.438493,0.064247,31.1400
5082,AA,20040923,13:45:00,13:44:48,31.1300,3.438172,-0.032118,31.1300
5083,AA,20040923,14:00:00,13:59:56,31.0900,3.436886,-0.128576,31.0900
5084,AA,20040923,14:15:00,14:14:58,31.1800,3.439777,0.289064,31.1800
5085,AA,20040923,14:30:00,14:29:54,31.2000,3.440418,0.064123,31.2000
5086,AA,20040923,14:45:00,14:44:59,31.1200,3.437851,-0.256740,31.1200
5087,AA,20040923,15:00:00,14:59:57,31.1200,3.437851,0.000000,31.1200
5088,AA,20040923,15:15:00,15:14:49,31.1200,3.437851,0.000000,31.1200
5089,AA,20040923,15:30:00,15:29:38,31.1500,3.438814,0.096355,31.1500
5090,AA,20040923,15:45:00,15:44:53,31.0300,3.434954,-0.385977,31.0300
5091,AA,20040923,16:00:00,15:59:56,31.0800,3.436565,0.161005,31.0800
12082,C,20040923,9:30:00,16:27:56,44.3000,3.790985,-0.180424,44.3000
12083,C,20040923,9:45:00,9:44:58,44.3100,3.791210,0.022571,44.3100
12084,C,20040923,10:00:00,9:59:57,44.3583,3.792300,0.108945,44.3583
...,...,...,...,...,...,...,...,...
47132,PFE,20040923,16:00:00,15:59:59,29.9400,3.399195,0.000000,29.9400
47133,PFE,20040923,16:15:00,16:12:57,30.1389,3.405817,0.662132,30.1389
54150,XOM,20040923,9:30:00,16:26:19,48.1000,3.873282,-1.569122,48.1000
54151,XOM,20040923,9:45:00,9:44:59,48.1000,3.873282,0.000000,48.1000
54152,XOM,20040923,10:00:00,9:59:59,48.1800,3.874944,0.166182,48.1800
54153,XOM,20040923,10:15:00,10:14:55,48.1400,3.874113,-0.083056,48.1400
54154,XOM,20040923,10:30:00,10:29:54,47.9400,3.869950,-0.416320,47.9400
54155,XOM,20040923,10:45:00,10:44:59,47.8300,3.867653,-0.229717,47.8300
54156,XOM,20040923,11:00:00,10:59:59,47.9600,3.870367,0.271427,47.9600
54157,XOM,20040923,11:15:00,11:14:48,47.9300,3.869742,-0.062572,47.9300
54158,XOM,20040923,11:30:00,11:29:52,48.0600,3.872450,0.270862,48.0600
54159,XOM,20040923,11:45:00,11:44:50,47.9600,3.870367,-0.208290,47.9600
54160,XOM,20040923,12:00:00,11:59:57,47.8800,3.868698,-0.166945,47.8800
54161,XOM,20040923,12:15:00,12:14:59,47.8400,3.867862,-0.083577,47.8400
54162,XOM,20040923,12:30:00,12:29:59,47.8800,3.868698,0.083577,47.8800
54163,XOM,20040923,12:45:00,12:44:58,47.8900,3.868907,0.020883,47.8900
54164,XOM,20040923,13:00:00,12:59:56,47.8400,3.867862,-0.104460,47.8400
54165,XOM,20040923,13:15:00,13:14:59,47.9000,3.869116,0.125339,47.9000
54166,XOM,20040923,13:30:00,13:29:48,47.9400,3.869950,0.083472,47.9400
54167,XOM,20040923,13:45:00,13:44:57,47.9500,3.870159,0.020857,47.9500
54168,XOM,20040923,14:00:00,13:59:59,47.8900,3.868907,-0.125209,47.8900
54169,XOM,20040923,14:15:00,14:14:59,47.9900,3.870993,0.208594,47.9900
54170,XOM,20040923,14:30:00,14:29:57,47.9400,3.869950,-0.104243,47.9400
54171,XOM,20040923,14:45:00,14:44:59,47.9100,3.869324,-0.062598,47.9100
54172,XOM,20040923,15:00:00,14:59:59,47.8700,3.868489,-0.083525,47.8700
54173,XOM,20040923,15:15:00,15:14:54,47.8800,3.868698,0.020888,47.8800
54174,XOM,20040923,15:30:00,15:29:59,47.8300,3.867653,-0.104482,47.8300
54175,XOM,20040923,15:45:00,15:44:59,47.7500,3.865979,-0.167399,47.7500
54176,XOM,20040923,16:00:00,15:59:57,47.7900,3.866816,0.083735,47.7900
54177,XOM,20040923,16:15:00,16:13:27,47.9062,3.869245,0.242852,47.9062

In [224]:
def getrealizedvar(df):
    """
    This function computes the daily realized variance using the high frequency data.
    """
    realvar = {}
    Date = df['DATE'].unique()
    Symbol = df['SYMBOL'].unique()
    for symbol in Symbol:
        eachsymbol ={}
        for date in Date:
            wdf = df[(df['DATE']==date) & (df['SYMBOL'] == symbol)]
            rvec = np.asarray(wdf['RETURN'].fillna(0))
            rvar = np.inner(rvec, rvec)
            eachsymbol[date] = np.log(rvar)
        realvar[symbol] = eachsymbol
    return realvar

In [225]:
total ={'AA':{}, 'C':{}, 'HAS':{}, 'INTC':{}, 'MSFT':{}, 'NKE':{}, 'PFE':{}, 'XOM':{}}
for df in dataframes:
    realvar = getrealizedvar(df)
    for key in list(total.keys()):
        total[key].update(realvar[key])

In [227]:
c = list(total['HAS'].values())

In [230]:
np.mean(c)

1.0512095314765997

In [147]:
aa.index(max(aa))

2049

In [144]:
list(total['AA'].keys())[934]

20040923

In [145]:
aa.count(max(aa))

1

In [72]:
np.mean(list(aa.values()))

1.4007757025966172

In [61]:
np.log(0.05)

-2.995732273553991

In [119]:
dataframes[0]['SYMBOL'].unique()

array(['AA', 'C', 'HAS', 'INTC', 'MSFT', 'NKE', 'PFE', 'XOM'],
      dtype=object)

In [178]:
dataframes[3]

      SYMBOL      DATE     itime     rtime   iprice      LOGP    RETURN
0         AA  20050103   9:30:00       NaN  31.8000  3.459466       NaN
1         AA  20050103   9:45:00   9:44:59  31.6300  3.454106 -0.536025
2         AA  20050103  10:00:00   9:59:52  31.5500  3.451574 -0.253245
3         AA  20050103  10:15:00  10:14:35  31.5000  3.449988 -0.158604
4         AA  20050103  10:30:00  10:29:57  31.5000  3.449988  0.000000
5         AA  20050103  10:45:00  10:44:57  31.2600  3.442339 -0.764822
6         AA  20050103  11:00:00  10:59:40  31.2100  3.440739 -0.160077
7         AA  20050103  11:15:00  11:14:57  31.2500  3.442019  0.128082
8         AA  20050103  11:30:00  11:29:45  31.2400  3.441699 -0.032005
9         AA  20050103  11:45:00  11:44:59  31.3300  3.444576  0.287678
10        AA  20050103  12:00:00  11:59:59  31.3000  3.443618 -0.095801
11        AA  20050103  12:15:00  12:14:59  31.3000  3.443618  0.000000
12        AA  20050103  12:30:00  12:29:45  31.2600  3.442339 -0.127877
13        AA  20050103  12:45:00  12:44:59  31.2300  3.441379 -0.096015
14        AA  20050103  13:00:00  12:59:35  31.2100  3.440739 -0.064062
15        AA  20050103  13:15:00  13:14:56  31.1900  3.440098 -0.064103
16        AA  20050103  13:30:00  13:29:55  31.0100  3.434310 -0.578780
17        AA  20050103  13:45:00  13:44:55  31.0000  3.433987 -0.032253
18        AA  20050103  14:00:00  13:59:56  30.9800  3.433342 -0.064537
19        AA  20050103  14:15:00  14:14:51  31.0000  3.433987  0.064537
20        AA  20050103  14:30:00  14:29:57  31.0000  3.433987  0.000000
21        AA  20050103  14:45:00  14:44:45  31.0000  3.433987  0.000000
22        AA  20050103  15:00:00  14:59:45  31.0000  3.433987  0.000000
23        AA  20050103  15:15:00  15:14:58  30.9600  3.432696 -0.129116
24        AA  20050103  15:30:00  15:29:56  30.9900  3.433665  0.096852
25        AA  20050103  15:45:00  15:44:59  31.0100  3.434310  0.064516
26        AA  20050103  16:00:00  15:59:58  30.9900  3.433665 -0.064516
27        AA  20050103  16:15:00  16:13:53  30.9755  3.433197 -0.046800
28        AA  20050104   9:30:00  16:29:49  30.8900  3.430433 -0.276406
29        AA  20050104   9:45:00   9:44:59  30.5900  3.420673 -0.975935
...      ...       ...       ...       ...      ...       ...       ...
56049    XOM  20051229  16:00:00  15:59:59  56.2400  4.029628 -0.088865
56050    XOM  20051229  16:15:00  16:11:43  56.2100  4.029095 -0.053357
56051    XOM  20051230   9:30:00  16:24:30  56.1000  4.027136 -0.195886
56052    XOM  20051230   9:45:00   9:44:57  55.9300  4.024101 -0.303490
56053    XOM  20051230  10:00:00   9:59:59  56.1200  4.027492  0.339135
56054    XOM  20051230  10:15:00  10:14:59  56.0800  4.026779 -0.071301
56055    XOM  20051230  10:30:00  10:29:59  56.2100  4.029095  0.231543
56056    XOM  20051230  10:45:00  10:44:57  56.2100  4.029095  0.000000
56057    XOM  20051230  11:00:00  10:59:59  56.2000  4.028917 -0.017792
56058    XOM  20051230  11:15:00  11:14:59  56.2735  4.030224  0.130697
56059    XOM  20051230  11:30:00  11:29:51  56.2900  4.030517  0.029317
56060    XOM  20051230  11:45:00  11:44:59  56.3500  4.031582  0.106534
56061    XOM  20051230  12:00:00  11:59:59  56.3700  4.031937  0.035486
56062    XOM  20051230  12:15:00  12:14:57  56.2015  4.028943 -0.299366
56063    XOM  20051230  12:30:00  12:29:59  56.3000  4.030695  0.175109
56064    XOM  20051230  12:45:00  12:44:59  56.2400  4.029628 -0.106629
56065    XOM  20051230  13:00:00  12:59:59  56.1300  4.027670 -0.195782
56066    XOM  20051230  13:15:00  13:14:57  56.1900  4.028739  0.106838
56067    XOM  20051230  13:30:00  13:29:57  56.1800  4.028561 -0.017798
56068    XOM  20051230  13:45:00  13:44:58  56.2800  4.030339  0.177841
56069    XOM  20051230  14:00:00  13:59:46  56.2500  4.029806 -0.053319
56070    XOM  20051230  14:15:00  14:14:58  56.4200  4.032824  0.301766
56071    XOM  20051230  14:30:00  14:29:51  56.3000  4.030695 -0.212917
56072    XOM  20051230  14:45:00  14:44:43  56.4200  4.032824  0.212917
56073    XOM  20051230  15:00:00  14:59:56  56.4300  4.033001  0.017723
56074    XOM  20051230  15:15:00  15:14:57  56.3100  4.030872 -0.212879
56075    XOM  20051230  15:30:00  15:29:59  56.5000  4.034241  0.336850
56076    XOM  20051230  15:45:00  15:44:57  56.6700  4.037245  0.300433
56077    XOM  20051230  16:00:00  15:59:58  56.1600  4.028205 -0.904021
56078    XOM  20051230  16:15:00  16:13:47  56.2644  4.030062  0.185725

[56079 rows x 7 columns]